<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Servlet2xExample</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloTCE</display-name>
    <servlet-name>HelloTCE</servlet-name>
    <servlet-class>edu.tce.it.Servlet2x.HelloTCE.HelloTCE</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloTCE</servlet-name>
    <url-pattern>/helloTCE</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2xReadFormDataGET</display-name>
    <servlet-name>Servlet2xReadFormDataGET</servlet-name>
    <servlet-class>edu.tce.it.Servlet2x.ReadFormData.Servlet2xReadFormDataGET</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2xReadFormDataGET</servlet-name>
    <url-pattern>/Servlet2xReadFormDataGET</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2xReadFormDataPOST</display-name>
    <servlet-name>Servlet2xReadFormDataPOST</servlet-name>
    <servlet-class>edu.tce.it.Servlet2x.ReadFormData.Servlet2xReadFormDataPOST</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2xReadFormDataPOST</servlet-name>
    <url-pattern>/Servlet2xReadFormDataPOST</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2xReadHeaders</display-name>
    <servlet-name>Servlet2xReadHeaders</servlet-name>
    <servlet-class>edu.tce.it.Servlet2x.ReadHeaders.Servlet2xReadHeaders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2xReadHeaders</servlet-name>
    <url-pattern>/Servlet2xReadHeaders</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Servlet2xLogFilter</display-name>
    <filter-name>Servlet2xLogFilter</filter-name>
    <filter-class>edu.tce.it.Servlet2x.LogFilter.Servlet2xLogFilter</filter-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>className=Servlet2xLogFilter</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Servlet2xLogFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/Servlet2xErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/Servlet2xErrorHandler</location>
  </error-page>
  <error-page>
    <exception-type>
          javax.servlet.ServletException
    </exception-type>
    <location>/Servlet2xErrorHandler</location>
  </error-page>
  <error-page>
    <exception-type>java.io.IOException</exception-type>
    <location>/Servlet2xErrorHandler</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>Servlet2xErrorHandler</display-name>
    <servlet-name>Servlet2xErrorHandler</servlet-name>
    <servlet-class>edu.tce.it.Servlet2x.ErrorHandler.Servlet2xErrorHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2xErrorHandler</servlet-name>
    <url-pattern>/Servlet2xErrorHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2xSessionManagementExample</display-name>
    <servlet-name>Servlet2xSessionManagementExample</servlet-name>
    <servlet-class>edu.tce.it.Servlet2x.SessionManagementExample.Servlet2xSessionManagementExample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2xSessionManagementExample</servlet-name>
    <url-pattern>/Servlet2xSessionManagementExample</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>ExampleAjax</display-name>
    <servlet-name>ExampleAjax</servlet-name>
    <servlet-class>edu.tce.it.ajax.ExampleAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExampleAjax</servlet-name>
    <url-pattern>/exampleAjax</url-pattern>
  </servlet-mapping>
</web-app>